/* Universal */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Styling for search results */
#myInput {
  background-image: url('/css/searchicon.png');
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#search_list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#search_list li a {
  /* border: 1px solid #ddd; */
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block
}
#search_list li a:hover:not(.header) {
  background-color: #eee;
}

/* Icons that shows movie type */
.tooltip  {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }


  #searchResults  {
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    padding-top: 1em;
    justify-content: center;
  } 

  #searchResults article {
    border-radius: 15px;
    font-size: 1.25rem;
    display: flex;

    column-gap: 3em;
    align-items: center;
  }

  #searchResults article:hover {
    background-color: lightblue;
    color: red;
    font-weight: 600;
    transform: skewY(1.2);
    box-shadow: 0 3px 3px 3px grey;
    cursor: pointer;
  }

  #searchResults img {
    height: 100%;
    border-radius: 10px 0 0 10px;
    /* width: 3vw; */
  }


  