/*Universal style page*/
:root {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing:  border-box;
}

/* header title containing UNIVERSAL MOVIES title */
header h1 {
    width: fit-content;
    font-size: 2.25rem;
    font-weight: 600;
    color: rgb(101, 99, 99);
    cursor: pointer;
}

/* highlight special text letters */
.highlight{
    color:red ;
    font-weight: bold;
}

/* give padding to container */
.container {
    padding: 20px;
    margin: 0 auto;
}

/* style search button */
.btn {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    outline: none;
    min-height: 38px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    box-shadow: #495057;
}

/* this class is after you search for your moive */
.form-group {
    margin-bottom: 1rem;
}

.form-control {
    width: 60vw;;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    outline: none;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

/* footer styling for footer */
.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #007bff;
    color: white;
    text-align: center;
}


/* padding for movies container => holding both popular and top rated */
#movies_container {
    padding: 3em 1em;

}
/* beginning of main content section => showing popular movies etc.  */
/* create a row of content and align items evently */
.display-row {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    width: max-content;
    row-gap: 1em;
    overflow: hidden;
    column-gap: 3em;;
}

/* make rows scrollable (since container is hiding overflow) */
main .home-display {
    overflow-x: scroll;
}

/* row container styling */
section article {
    height: 100%;
    padding: 1.25em 0.75em;
}

/* row header styles */
h2 {
    flex: 1 1 100%;
    text-align: left;
    font-size: 2.5rem;
    font-weight: 600;
}

/* movie card styling on home page  */
.display-card {
    width: 10vw;
    height: 100%;
    font-weight: 600;
    cursor: pointer;
    height: fit-content;
}

/* set image height of movie cards */
.display-card img {
    border-radius: 10px;
    height: 30vh;
    width: 50vw;
}

/* Adding hover effect => enlarge movies on hover */
.display-card:hover{
    margin-left: 0 40px;
    transform: scale(1.2);
    cursor: pointer;
}

/* style for circular movie score  */
.display-card span {
    border-radius: 100%;
    padding: 1em;
    background-color: black;
}

/* movie card title style  */
.display-card h3{
    padding-top: 1em;
}

/* beginning of modal styling */
/* set modal main container width and height  */
#modal-content {
    font-size: 1.25rem;
    height: 30vh;
    overflow: hidden;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* video styling for trailer in modal */
#modal-content iframe {
    width: 77%;
    height: 45vh;
    margin-left: 11.5%;
    border-radius: 10px;
    box-shadow: 0 10px 10px 10px;

}

#modal-content h3 {
    font-weight: 600;
    padding-left: 0.5em;
    background-color: #007bff;
}
#modal-content article {
    padding: 2em 0;
    display: flex;
    flex-wrap: wrap;

}
/* release date styling */
#modal-content article p {
    /* color: white; */
    flex: 1 1 10em;
}

/* modal description styling => contains movie name and description */
#modal-overview {
    background-color: #007bff;
    border-radius: 0 0 10px 10px;
    padding: 1em;
}

/* beginning of media queries */
@media screen and (max-width: 1440px) {
    /* increase video trailer width for lg screens and smaller */
    #modal-content iframe {
        width: 100%;
        margin-left: 0;
    }
}

/* increase width of movie cards on home page for smaller screens */
@media screen and (max-width: 640px) {
    .display-card {
        width: 25vw;
    }
    .display-row {
        column-gap: 2em;
    }

}

/* styling for loader => cross-browser compatible */
.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    display: none;
    position: fixed;
    top: 40%;
    left: 40%;
    right: 0;
  }
@-webkit-keyframes spin {
0% { -webkit-transform: rotate(0deg); }
100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}
/* page 2 */

#search-results-query {
}

#search-results-query article {
    height: 10vh;
    
}